---
layout: layouts/base.njk
title: Company | Bollag Guggenheim
---
{% include "components/site-header.njk" %}
{% include "components/company-hero.njk" %}
{% include "components/company-intro.njk" %}
{% include "components/company-history.njk" %}
{% include "components/company-distribution.njk" %}
{% set selectedStoresTone = '#FAF7F4' %}
{% include "components/selected-stores.njk" %}
{% include "components/site-footer.njk" %}
